/* ============ imports ============= */
@import "mixins";
@import "variables";

/* ============ fonts ============= */
@font-face {
    font-family: "lora";
    src: url("../fonts/Lora/Lora-VariableFont_wght.ttf");
}
@font-face {
    font-family: "worksans";
    src: url("../fonts/Work_Sans/WorkSans-VariableFont_wght.ttf");
}
.fontLora{
    font-family: "lora";
}
.fontWorkSans{
    font-family: "worksans";
}

/* ============ global ============= */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.paddingX{
    padding-left:5vw;
    padding-right: 5vw;
}
.headlineFontSize{
    font-size: 6rem;
}
/* ============ header ============= */
/* ============ header ============= */
/* ============ header ============= */
header{
    background-color:$black;
    color: $white;
        .headerLine{
            background-color: $grey;
            width: 1px;
            height: 25vh;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 10vh;
        }/* ======= headline ======== */
        .headlineHeader{
            text-align: center;
            margin-bottom: 25vh;
            width: 50%;
            margin-left: auto;
            margin-right: auto;
                p:first-of-type{
                    margin-bottom: .5rem;
                }
        h1{
            margin-bottom: .7rem;
            line-height: .8;
                span{
                    color: $black;
                    -webkit-text-stroke: 1px white;
                }
        }
        }
        .headerFlexContainer{
            display: flex;
            justify-content: space-between;
            padding-bottom: 15.5vh;
        }
}

/* ============ main ============= */
/* ============ main ============= */
/* ============ main ============= */
main{
    /* intro section */
    .mainIntroSection{
        background-color: $black;
        background-image: url("../img/map.svg");
        background-repeat: no-repeat;
        background-position: 100% 85%;
        background-size: 37%;
        margin-bottom: 30vh;
        .mainIntroText{
            color: $white;
            width: 95%;
            margin-bottom: 10vh;
        }
        article{
            color: white;
        }
        .mainIntroBulletpoints{
            h3{
                padding-bottom: 7vh;
                font-size: 4rem;
            }
        }
    }
    /* image section */
    .mainImageSection{
        .imageSectionHeadline{
            width: 400px;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 70vh;
            h2{
                margin: auto;
                font-size: 3.5rem;
                width: 30rem;
                line-height: 0.8;
                margin-bottom: 1rem;
            }
            p{
                text-align: center;
                width: 20rem;
                line-height: 1.3;
                /* margin-left: auto; */
                /* margin-right: auto; */
            }
        }
        .secondTextImageSection{
            width: 30vw;
            margin-left: auto;
            margin-right: auto;
            line-height: 1.3;
        }
        img{
            width: 200px;
        }
        .imageSectionImg1{
            position: relative;
            left: 65vw;
            top: -1170px;
        }
        .imageSectionImg2{
            position: relative;
            left: -17vw;
            top: -950px;
        }
        .imageSectionImg3{
            position: relative;
            left: 43vw;
            top: -85vh;
        }
        .imageSectionImg4{
            position: relative;
            left: -35vw;
            top: -450px;
        }
        .imageSectionImg5{
            position: relative;
            top: -47vh;
            left: -7vw;
        }
        .imageSectionImg6{
            position: relative;
            left: -80vw;
            top: -20vh;
        }
    }
}











@import "media-queries";