/* ============ imports ============= */
@import "mixins";
@import "variables";

/* ============ fonts ============= */
@font-face {
    font-family: "lora";
    src: url("../fonts/Lora/Lora-VariableFont_wght.ttf");
}
@font-face {
    font-family: "worksans";
    src: url("../fonts/Work_Sans/WorkSans-VariableFont_wght.ttf");
}
.fontLora{
    font-family: "lora";
}
.fontWorkSans{
    font-family: "worksans";
}

/* ============ global ============= */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.paddingX{
    padding-left:5vw;
    padding-right: 5vw;
}
.headlineFontSize{
    font-size: 6rem;
}
/* ============ header ============= */
/* ============ header ============= */
/* ============ header ============= */
header{
    background-color:$black;
    color: $white;
        .headerLine{
            background-color: $grey;
            width: 1px;
            height: 25vh;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 10vh;
        }/* ======= headline ======== */
        .headlineHeader{
            text-align: center;
            margin-bottom: 25vh;
            width: 60%;
            margin-left: auto;
            margin-right: auto;
                p:first-of-type{
                    margin-bottom: .5rem;
                }
        h1{
            margin-bottom: .7rem;
            line-height: .8;
                span{
                    color: $black;
                    -webkit-text-stroke: 1px white;
                }
        }
        }
        .headerFlexContainer{
            display: flex;
            justify-content: space-between;
            padding-bottom: 15vh;
        }
}

/* ============ main ============= */
/* ============ main ============= */
/* ============ main ============= */
main{
    /* intro section */
    .mainIntroSection{
        background-color: $black;
        background-image: url("../img/map.svg");
        background-repeat: no-repeat;
        background-position: 100% 85%;
        background-size: 37%;
        margin-bottom: 30vh;
        .mainIntroText{
            color: $white;
            width: 78%;
            margin-bottom: 10vh;
            font-size: 4.7rem;
        }
        article{
            color: white;
        }
        .mainIntroBulletpoints{
            h3{
                padding-bottom: 7vh;
                font-size: 4rem;
            }
        }
    }
    /* image section */
    .mainImageSection{
        position: relative;
        margin-bottom: 12vh;
        .imageSectionHeadline{
            width: 400px;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 50vh;
            h2{
                margin: auto;
                font-size: 3.5rem;
                width: 30rem;
                line-height: 0.8;
                margin-bottom: 1rem;
            }
            p{
                text-align: center;
                width: 20rem;
                line-height: 1.3;
            }
        }
        .secondTextImageSection{
            width: 30vw;
            margin-left: auto;
            margin-right: auto;
            line-height: 1.3;
        }
        img{
            width: 200px;
        }
        .imageSectionImg1{
            margin-top: -500px;
            position: absolute;
            left: 60%;
            top: 20%;
        }
        .imageSectionImg2{
            position: absolute;
            left: 5%;
            top: -7%;
            z-index: -1;
        }
        .imageSectionImg3{
            position: absolute;
            right: 0;
            top: 10%;
        }
        .imageSectionImg4{
            position: absolute;
            left: 20%;
            top: 35%;
        }
        .imageSectionImg5{
            position: absolute;
            top: 40%;
            left: 60%;
        }
        .imageSectionImg6{
            position: absolute;
            left: 0;
            top: 70%;
        }
        .imageSectionImg7{
            position: absolute;
            left: 60%;
            top: 104%;
            z-index: 2;
        }
    }
    .mainSectionOne{
        background-color: $black;
        color: $white;
        padding-bottom: 35vh;
        position: relative;
        .mainSectionOneArticleFlex{
            display: flex;
            padding-top: 18vh;
            margin-bottom: 30vh;
            div{
                width: 50%;
                .sectionHeadline{
                    font-size: 4rem;
                    width: 50%;
                }
                .sectionText{
                    width: 70%;
                    font-size: 1.5rem;
                    margin-bottom: 1.5rem
                }
                .sectionNumber{
                    margin-bottom: 1.5rem;
                }
            }
        }
        .largeImg{
            width: 50%;
            position: absolute;
            top: 45%;
            left: 10%;
        }
        .smallImg{
            width: 25%;
            position: absolute;
            left: 50%;
            top: 63%;
        }
    }
    .mainSectionTwo{
        height: 1000px;
        overflow-x: hidden;
        .circleContainer{
            position: relative;
            .circle{
                position: absolute;
                left: 85%;
                top: 10%;
                width: 35%;
                margin-top: -5rem;
            }
        }
            .smallerImageContainer{
                position: relative;
                top: 52%;
                .smallerImage{
                    position: absolute;
                    width: 30%;
                    left: 15%;
                    z-index: 2;
                }
            }
            .biggerImageContainer{
                position: relative;
                top: 47%;
                .biggerImage{
                    position: absolute;
                    width: 50%;
                    left:40%;
                }
            }
        .mainSectionTwoArticleFlex{
            position: absolute;
            display: flex;
            padding-top: 15vh;
            margin-bottom: 10vh;
            div{
                width: 50%;
                .sectionHeadline{
                    font-size: 4rem;
                    width: 50%;
                }
                .sectionText{
                    width: 70%;
                    font-size: 1.5rem;
                    margin-bottom: 1.5rem
                }
                .sectionNumber{
                    margin-bottom: 1.5rem;
                }
            }
        }

/*         .circle{
            @keyframes rotate {
                0%{transform: rotate(0deg)};
                20%{transform:rotate(90deg)}
                40%{transform: rotate(180deg)}
                60%{transform: rotate(270deg)}
                100%{transform: rotate(359deg)}
            }
            position: absolute;
            top: -10%;
            left: 83%;
            animation: rotate;
            animation-duration: 20s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
            width: 30%;
        } */


        }
    }
/*         .imgTest{
            position: relative;
            .largeImg{
                position: absolute;
                top: 50%;
                left: 50%;
                width: 20%;
            }
            .smallImg{
                position: absolute;
                width: 20%;
                top:50%
        }
    } */












@import "media-queries";